.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.about-container h2{
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: start;
}

.profile-image {
  width: 100%;
  max-width: 300px;
  border-radius: 5%;
  justify-self: center;
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-text ul {
  list-style-type: none;
  padding-left: 0;
}

.about-text li {
  margin-bottom: 0.5rem;
  padding-left: 20px;
  position: relative;
}

.about-text li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #ff3300;
}

.accordion {
  margin-top: 2rem;
}

.accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-trigger {
  width: 100%;
  padding: 1rem 0;
  background: none;
  border: none;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.accordion-icon.open {
  transform: rotate(-135deg);
}

.accordion-content {
  padding: 1rem 0;
}
.cardbox {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--background-color); 
  width: 95%;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  border-radius: 12px; 
}

.card {
  height: 85px;
  width: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; 
  color: var(--text-color); 
  padding: 1.5em;
  border-radius: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}



.card .img {
  height: 100%;
  width: 100%;
  border-radius: 12px; 
}
.card .img img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .profile-image {
    margin-bottom: 2rem;
  }

  .card {
    flex-basis: calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .card {
    flex-basis: 30%; 
  }
  .card .img {
    height: 100%;
    width: 100%;
    border-radius: 12px; 
  }
}


